{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Class Notes</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/landing-page.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="{% url 'landing_page' %}">&lt; Class Notes /&gt;</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left"> <!-- used to have navbar-right -->
                    <li>
                        <a href="{% url 'about' %}">About</a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li>
                        <a href="{% url 'starter_guide' %}">Starter guide</a>
                    </li>
                </ul>
            </div>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    {% block content %}
    <!-- Header -->
    
    <a name="about"></a>
    <div class="intro-header">
    
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>&lt; Class Notes /&gt;</h1>
                        <h3>Knowledge grows by sharing</h3>
                        <hr class="intro-divider">
                        
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="{% url 'account_login' %}" class="btn btn-primary btn-lg">
                                	<span class="network-name">Login / Signup</span></a>
                            </li>
                            <!--
                            <li>
                                <a href="#" class="btn btn-default btn-lg">
                                	<span class="network-name">Signup</span></a>
                            </li>
                            
                            <li>
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a> 
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Access content published by students and faculty of any university you like:<br>Join your favorite institutions </h2>
                    <p class="lead">You have access to exclusive learning material, without being enrolled in any of those institutions in real world!</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{% static 'img/optional-bg-7.jpg' %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Follow your favorite athors.<br>Get notified when they publish new content</h2>
                    <p class="lead">You can request them to publish their notes on a topic. Higher rated content will be more readily accessible, compared to lower rated content.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="{% static 'img/optional-bg-4.jpg' %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Collaborate on published content.</h2>
                    <p class="lead">You can alter content to enrich them.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{% static 'img/optional-bg-6.jpg' %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Follow your favorite athors.<br>Get notified when they publish new content</h2>
                    <p class="lead">You can request them to publish their notes on a topic. Higher rated content will be more readily accessible, compared to lower rated content.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="{% static 'img/optional-bg-5.jpg' %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <!-- Footer -->
    <footer style='background-color:#DDDDDD;'>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="{% url 'about' %}">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="{% url 'contact' %}">Contact</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="{% url 'starter_guide' %}">Starter guide</a>
                        </li>
                        
                        
                        <li style='float:right'>
                        <!--
                            <form name='bottom-login' action=''>
                                <li style='float:right; margin:3px;'>
                                    <button type='button'>Login</button>
                                </li>
                                <li style='float:right; margin:3px;'>
                                    password : <input type='password' name='password'>
                                </li>
                                <li style='float:right; margin:3px;'>
                                    username : <input type='text' name='username'>
                                </li>
                            </form>
                        -->

                        <!-- These forms either require a different backend or somehow the information must be passed to allauth -->
                        <!--
                            <form class="login" method="POST" action="{% url 'account_login' %}">
                                {% csrf_token %}
                                {{ form.username }}
                                {{ form.username }}
                            </form>
                        -->
                        </li>


                    </ul>
                
                </div>
            </div> <!-- row -->
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                	<p class="copyright text-muted small">Copyright &copy; Manashi Sarkar 2017. All Rights Reserved</p>
                </div>
            </div>
        </div>

    </footer>

    {% endblock %}
    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>
